div.container-flex
	div.title__wrap
		div.title We know how to improve your life today!
		div.descr Longevity life data marketplace and ecosystem fueled by the Longevity crypto tokenМы знаем, как улучшить вашу жизнь сегодня!
		div.button 
			span.button__title Let’s Begin
			span.button__pic 
