.footer__wrap {
  background: #362f2d;
  color: #fff;
  padding: 50px 0 80px; }

.footer__logo {
  margin: 30px auto; }

.footer_nav {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap; }

.footer__ahtor {
  text-align: center;
  margin: 0 auto;
  background: #55b94d;
  width: 100%;
  color: #fff; }

.footer__item {
  list-style-type: none;
  color: #fff;
  max-width: 300px;
  margin: 0 auto 30px; }
